/* pagina GROW PRODUCTS */
.main__principal_grow_wrapper-title {
  font-style: normal;
  font-size: 2rem;
  font-family: "Alegreya", serif;
  text-align: center;
  font-weight: 700;
  line-height: 1.6;
  color: #3bb231;
  padding: 15px;
  margin-top: 70px;
  &_subtitle {
    text-align: justify;
    font-size: 1.2rem;
    font-style: normal;
    font-family: "Alegreya", serif;
    color: #3bb231;
    padding: 30px;
  }
}

.section__principal_grow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  &_wrapper-informativ {
    font-size: 2rem;
    font-family: "Alegreya", serif;
    font-weight: 700;
    text-align: center;
    color: #3bb231;
    padding: 15px;
    &-paragraph {
      text-align: justify;
      font-size: 1.2rem;
      font-family: "Alegreya", serif;
      font-style: normal;
      color: #3bb231;
      font-weight: 700;
      padding: 15px;
    }
  }
}

.section__grow-links_img a {
  color: #3bb231;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Alegreya", serif;
  font-style: normal;
  text-align: center;
  line-height: 1.6;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

.card01 {
  border: 10px ridge #3bb231;
  margin: 20px;
}

.card02 {
  border: 10px ridge #3bb231;
  margin: 20px;
}

.card03 {
  border: 10px ridge #3bb231;
  margin: 20px;
}

.imgone {
  img {
    width: 350px;
    height: 350px;
    padding: 15px;
  }
}
.imgtwo {
  img {
    width: 350px;
    height: 350px;
    padding: 15px;
  }
}

.imgthree {
  img {
    width: 350px;
    height: 350px;
    padding: 15px;
  }
}

.section__grow-links_title {
  font-size: 2rem;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-align: center;
  color: #3bb231;
  margin-top: 50px;
}

.fertilizantes_title {
  color: #3bb231;
  font-size: 2.2rem;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-align: center;
  margin-top: 90px;
}

.section_fertilizantes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 20px;
  }
}
.btn {
  display: flex;
  margin-left: 125px;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .fertilizantes_title {
    color: #3bb231;
    font-size: 2.2rem;
    font-family: "Alegreya", serif;
    font-weight: 700;
    text-align: center;
    margin-top: 90px;
  }

  .section_fertilizantes {
    display: grid;
    grid-template-areas: "imagen imagen";
    grid-template-rows: 1fr 1fr;
    justify-content: end;
    img {
      height: 350px;
      width: 350px;
      padding: 20px;
      margin: 20px;
      grid-area: imagen;
    }
  }
  .btn {
    display: flex;
    margin-left: 150px;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .main__principal_grow_wrapper-title {
    font-size: 3rem;
    &_subtitle {
      font-size: 2rem;
    }
  }
  .section__principal_grow {
    display: grid;
    grid-template-areas:
      "title title title"
      "card-01 card-02 card-03";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 100px;
    justify-items: center;
    &_wrapper {
      grid-area: title;
      margin: 10px;
    }
    &-informativ {
      color: #3bb231;
      font-size: 1.9rem;
      font-family: "Alegreya", serif;
      font-weight: 700;
      text-align: center;
      margin-top: 65px;
    }
    &-paragraph {
      text-align: center;
      font-size: 1.2rem;
      font-family: "Alegreya", serif;
      font-style: normal;
      color: #3bb231;
      font-weight: 700;
      padding: 15px;
    }
  }
  .section__grow-links_title {
    font-size: 2rem;
    font-family: "Alegreya", serif;
    font-weight: 700;
    text-align: center;
    color: #3bb231;
    margin-top: 80px;
  }
  .card01 {
    grid-area: card-01;
    margin: -30px;
    border: 10px ridge #3bb231;
    &:hover {
      transform: scale(1.3) translate(-80px, -50px);
      transition: all 2s;
    }
  }
  .card02 {
    grid-area: card-02;
    margin: -30px;
    border: 10px ridge #3bb231;
    &:hover {
      transform: scale(1.3);
      transition: all 2s;
    }
  }
  .card03 {
    grid-area: card-03;
    margin: -30px;
    border: 10px ridge #3bb231;
    &:hover {
      transform: scale(1.3) translate(100px, -50px);
      transition: all 2s;
    }
  }

  .imgone {
    img {
      width: 400px;
      height: 400px;
    }
  }
  .imgtwo {
    img {
      width: 400px;
      height: 400px;
    }
  }

  .imgthree {
    img {
      width: 400px;
      height: 400px;
    }
  }

  .section__grow-links_img {
    animation-name: link-grow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
    a {
      margin-top: 70px;
      padding: 55px;
      &:hover {
        color: #864800;
      }
    }
  }
  .section_fertilizantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-img {
      margin: 50px 50px;
      img {
        height: 400px;
        width: 400px;
        padding: 30px;
      }
    }
  }
  .fertilizantes_title {
    margin-top: 100px;
  }

  .btn {
    margin-left: 170px;
  }
}

@keyframes link-grow {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, -35px);
  }

  100% {
    transform: translate(0, -0px);
  }
}
