.main__principal-sucursal_wrapper {
  &-title {
    font-style: normal;
    font-size: 2.4rem;
    font-family: "Alegreya", serif;
    text-align: center;
    font-weight: 700;
    line-height: 1.6;
    color: #3bb231;
    padding: 15px;
    margin-top: 70px;
  }
  &-subtitle {
    font-size: 2rem;
    font-family: "Alegreya", serif;
    text-align: center;
    color: #3bb231;
    font-weight: 400;
    padding: 15px;
  }
}
.section__principal_sucursal_informativ-title {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  font-family: "Alegreya", serif;
  color: #3bb231;
  font-weight: 700;
  text-decoration: underline;
}
.section__wrapper__videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

.form_title {
  font-size: 2rem;
  color: #3bb231;
  text-align: center;
  font-weight: 400;
}

.form_container {
  width: 100%;
}

.form_img {
  width: 50px;
  height: 50px;
  img {
    border: solid 3px #08090b;
    border-radius: 10px;
  }
}

@media (min-width: 992px) {
  .main__principal-sucursal_wrapper {
    &-title {
      font-size: 4rem;
    }
    &-subtitle {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
  .section__principal_sucursal_informativ-title {
    font-weight: 400;
  }
  .section__wrapper__videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  .form_container {
    width: 100%;
    display: flex;
    &_all {
      width: 70%;
    }
  }

  .form_img {
    width: 30%;
    height: 100%;
    margin: 70px 10px 70px 0;
  }

  .form_img {
    img {
      border-radius: 2rem;
    }
  }
  .form_img img {
    &:hover {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      box-shadow: 0px 0px 15px 15px#3bb231;
      -webkit-box-shadow: 0px 0px 15px 15px #3bb231;
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transition: all 1s;
    }
  }
}
