.main__principal-sucursal_wrapper {
  &-title {
    font-style: normal;
    font-size: 2.4rem;
    font-family: "Alegreya", serif;
    text-align: center;
    font-weight: 700;
    line-height: 1.6;
    color: rgb(0, 87, 0);
    padding: 15px;
    margin-top: 70px;
  }
  &-subtitle {
    font-size: 2rem;
    font-family: "Alegreya", serif;
    text-align: center;
    color: rgb(0, 87, 0);
    font-weight: 400;
    padding: 15px;
  }
}
.section__principal_sucursal_informativ-title {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  font-family: "Alegreya", serif;
  color: rgb(0, 87, 0);
  font-weight: 700;
  text-decoration: underline;
}
.section__wrapper__videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}
.main__form {
  font-size: 1.4rem;
  font-family: "Alegreya", serif;
  font-style: normal;
  color: rgb(0, 87, 0);
  text-align: center;
  font-weight: 700;
  &_wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  &_title {
    font-size: 2rem;
    margin-bottom: 70px;
    text-shadow: 0 20px 4px rgb(0, 87, 0);
  }
}

@media (min-width: 992px) {
  .main__principal-sucursal_wrapper {
    &-title {
      font-size: 4rem;
    }
    &-subtitle {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
  .section__principal_sucursal_informativ-title {
    font-weight: 400;
  }
  .section__wrapper__videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  .main__form {
    &_wrapper {
      width: 30%;
      margin-left: 620px;
    }
    &_title {
      font-size: 2rem;
      margin-bottom: 70px;
      text-shadow: 0 20px 4px rgb(0, 87, 0);
    }
  }
}
